<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TaskDatabaseSoap" />
                <binding name="DataModelSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TaskDatabaseSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DataModelSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://wsdl.sync.today/TaskDatabase.asmx"
                binding="basicHttpBinding" bindingConfiguration="TaskDatabaseSoap"
                contract="TaskDatabaseServiceReference.TaskDatabaseSoap" name="TaskDatabaseSoap" />
            <endpoint address="http://wsdl.sync.today/TaskDatabase.asmx"
                binding="customBinding" bindingConfiguration="TaskDatabaseSoap12"
                contract="TaskDatabaseServiceReference.TaskDatabaseSoap" name="TaskDatabaseSoap12" />
            <endpoint address="http://wsdl.sync.today/DataModel.asmx" binding="basicHttpBinding"
                bindingConfiguration="DataModelSoap" contract="DataModelServiceReference.DataModelSoap"
                name="DataModelSoap" />
            <endpoint address="http://wsdl.sync.today/DataModel.asmx" binding="customBinding"
                bindingConfiguration="DataModelSoap12" contract="DataModelServiceReference.DataModelSoap"
                name="DataModelSoap12" />
        </client>
    </system.serviceModel>
</configuration>